/* FONTS - START */

  @font-face {
    font-family: "bebasNeueRegular";
    src: url("fonts/BebasNeue-Regular.ttf");
  }

  @font-face {
    font-family: "pulsoRegular";
    src: url("fonts/Pulso-Regular.ttf");
  }

  @font-face {
    font-family: "robotoBlack";
    src: url("fonts/Roboto-Black.ttf");
  }

  @font-face {
    font-family: "robotoBlackItalic";
    src: url("fonts/Roboto-BlackItalic.ttf");
  }

  @font-face {
    font-family: "robotoBold";
    src: url("fonts/Roboto-Bold.ttf");
  }

  @font-face {
    font-family: "robotoBoldItalic";
    src: url("fonts/Roboto-BoldItalic.ttf");
  }

  @font-face {
    font-family: "robotoItalic";
    src: url("fonts/Roboto-Italic.ttf");
  }

  @font-face {
    font-family: "robotoLight";
    src: url("fonts/Roboto-Light.ttf");
  }

  @font-face {
    font-family: "robotoLightItalic";
    src: url("fonts/Roboto-LightItalic.ttf");
  }

  @font-face {
    font-family: "robotoMedium";
    src: url("fonts/Roboto-Medium.ttf");
  }

  @font-face {
    font-family: "robotoMediumItalic";
    src: url("fonts/Roboto-MediumItalic.ttf");
  }

  @font-face {
    font-family: "robotoRegular";
    src: url("fonts/Roboto-Regular.ttf");
  }

  @font-face {
    font-family: "robotoRegular";
    src: url("fonts/Roboto-Regular.ttf");
  }

  @font-face {
    font-family: "robotoThin";
    src: url("fonts/Roboto-Thin.ttf");
  }

  @font-face {
    font-family: "robotoThinItalic";
    src: url("fonts/Roboto-ThinItalic.ttf");
  }

  @font-face {
    font-family: "robotoCondensedBold";
    src: url("fonts/RobotoCondensed-Bold.ttf");
  }

  @font-face {
    font-family: "robotoCondensedBoldItalic";
    src: url("fonts/RobotoCondensed-BoldItalic.ttf");
  }

  @font-face {
    font-family: "robotoCondensedItalic";
    src: url("fonts/RobotoCondensed-Italic.ttf");
  }

  @font-face {
    font-family: "robotoCondensedLight";
    src: url("fonts/RobotoCondensed-Light.ttf");
  }

  @font-face {
    font-family: "robotoCondensedLightItalic";
    src: url("fonts/RobotoCondensed-LightItalic.ttf");
  }

  @font-face {
    font-family: "robotoCondensedRegular";
    src: url("fonts/RobotoCondensed-Regular.ttf");
  }

/* FONTS - END */

/* LOADING SPINNER - START */
  .lds-facebook {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-facebook div {
    display: inline-block;
    position: absolute;
    left: 8px;
    width: 16px;
    background: #fff;
    animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
  }
  .lds-facebook div:nth-child(1) {
    left: 8px;
    animation-delay: -0.24s;
  }
  .lds-facebook div:nth-child(2) {
    left: 32px;
    animation-delay: -0.12s;
  }
  .lds-facebook div:nth-child(3) {
    left: 56px;
    animation-delay: 0;
  }
  @keyframes lds-facebook {
    0% {
      top: 8px;
      height: 64px;
    }
    50%, 100% {
      top: 24px;
      height: 32px;
    }
  }
/* LOADING SPINNER - END */

/* GENERAL ELEMENTS - START */

  html {
    font-size: 15px;
    font-family: "robotoRegular";
  }

  hr {
    opacity: 1 !important;
  }

  body {
    color: #707070;
    background-color: #250859;
    position: relative;
    background-image: url(../img/backgrounds/home.svg);
    background-size: cover;
  }

  h2{
    margin-top:50px;
    margin-bottom:10px;
    text-align: center;
    width: 100%;
    color: #313131;
    font-family: "robotoLight";
  }
  h3{
    margin-top:50px;
    margin-bottom:10px;
    text-align: center;
    width: 100%;
    color: #313131;
    font-family: "robotoLight";
  }

  .full-container{
    width: 100vw;
    display: flex;
    justify-content: center;
    overflow: auto;
  }

  .main-container{
    _max-width: 1350px;
    width:100%;
    height: calc(100vh - 40px);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .btn-primary{
    background-color: #313131;
    border-color: #313131;
    font-family: "robotoRegular";
    border-radius: 7px;
    font-weight:bold;
  }

  .btn-primary:hover, .btn-primary:active, .btn-primary:focus{
    background-color: black;
    border-color: black;
  }

  .btn-secondary{
    background-color: #313131;
    border-color:#313131;
    font-family: "robotoRegular";
    border-radius: 7px;
    font-weight:bold;
  }

  .btn-secondary:hover{
    background-color: #1b1b1b;
    border-color: #1b1b1b;
  }
  .table-map{
    background-color: #313131;
    color: white;
    font-family: "robotoLight";
  }

  .table-map_content{
    font-family: "robotoRegular";
    background-color: white;
  }

  

/* GENERAL ELEMENTS - END */

/* FOOTER - START */ 
  footer{
    font-family: 'pulsoRegular';
    height:40px;
    width:100%;
    display: flex;
    justify-content:center;
    align-items:center;
    color: white;
    font-size: 1rem;
    background: rgb(101,11,217);
    background: radial-gradient(circle, rgba(101,11,217,1) 0%, rgba(80,7,174,1) 35%, rgba(58,3,130,1) 42%, rgba(50,2,113,1) 48%, rgba(50,2,113,1) 57%);
  }
/* FOOTER - END */

/* SWEET ALERT 2 - START */

  .swal2-popup {
    border-radius: 8px !important;
  }

  .swal2-styled.swal2-confirm {
    background-color: #00CEF5 !important;
    border: none !important;
    border-radius: 8px !important;
    font-family: robotoBold !important;
    font-size: 14px !important;
  }

  .swal2-actions:not(.swal2-loading) .swal2-styled:hover {
    background-color: #00CEF5 !important;
  }

  .swal2-styled:focus {
    outline: 0;
  }

  .swal2-close:focus, .swal2-close:hover {
    color: #00CEF5 !important;
  }

  .swal2-title {
    color: #2B0382 !important;
    font-family: 'robotoMedium' !important;
    font-size: 1.3rem !important;
    justify-content: center!important;
  }

  .swal2-content {
    color: #707070 !important;
    font-size: 1rem !important;
    font-family: robotoMedium !important;
  }

  .swal2-loader {
    border-color: #2B0382  transparent #2B0382 transparent !important;
  }

  .swal2-timer-progress-bar {
    background: #00CEF5 !important;
  }

/* SWEET ALERT 2 - END */ 

/* BARRA DE BUSQUEDA - START */

.search-initial_container{
  display: flex;
  justify-content:center;
  background-color:#66528a;
  padding: 10px;
  border-radius: 10px;
  font-family: 'robotoRegular';
  margin-top: 20px;
}

/* ESTE ESTILO PISA ALGUNAS DE LA BARRA DE BUSQUEDA CUANDO ESTA INSERTADA EN EL NAVBAR */
  .search-home_container{
    display: flex;
    justify-content:center;
    border-radius: 10px;
    font-family: 'robotoRegular';
    background-color: #040506;
    padding: 0;
    margin-top: 0;
  }

  .buscador {
    display: flex;
    align-items: center;
    align-content: center;
    border-radius: 5px;
    width: 255px;
    background: white;
    padding: 2px;
  }

  .buscador .form-control {
    _width: 370px;
    font-family: 'robotoRegular' !important;
    color: #848484 !important;
    padding: .375rem 0;
    font-size: 1rem;
  }

  .buscador .form-control:focus {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    font-family: 'robotoRegular' !important;
    color: #848484 !important;
  }

  .buscador .input-container {
    display: flex;
    justify-content: center;
    background-color: #FFFFFF;
    padding: 0;
    width: 100%;
    border-radius:  0 5px 5px 0;
  }

  .select-container {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    background-color: #FFFFFF;
    border-radius: 5px 0 0 5px;
    padding: 0 7px;
    height: 36px;
  }

  .buscador .input-container .lupa {
    width: 20px;
  }

  .buscador .input-container .input-buscar {
    background-color: none;
    padding-left: 0px !important;
    font-family: 'robotoRegular' !important;
    color: #848484 !important;
  }

  .btn-buscar {
    background-color: #00CEF5;
    border-color: #00CEF5;
    font-family: 'robotoMedium';
    font-size: 1rem;
    border-radius: 5px;
    padding: 0 40px;
    letter-spacing: 0px;
    margin-left: 15px;
  }

  .btn-buscar:hover, .btn-buscar:active, .btn-buscar:focus {
    background-color: #00a9ca;
    border-color: #00a9ca;
  }

  .btn-secondary-gt{
    background-color: white!important;
    border-color: white!important;
    border-radius: 7px 0 0 7px!important;
    font-family: 'robotoMedium';
    color: #250859 !important;
    font-size: 1rem;
  }
  .btn-secondary-gt:focus-visible{
    border-color: black!important;
  }

  @media only screen and (max-width: 768px) {
    .select-container{
        height:35px;
    }
    .btn-buscar{
        padding: 0 10px;
    }
    .buscador {
      width: 230px;
    }
  }

/* BARRA DE BUSQUEDA - END */

/* INITIAL PAGE - START */
  .initial-container{
    _background-image: url(../img/backgrounds/home.svg);
    background-size: cover;
    _background-color: #250859;
    width: 100vw;
    height: calc(100vh - 40px);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .initial-container .initial-search{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1355px;
  }

  .initial-container .initial-search .initial-title, .initial-container .initial-search .initial-iso{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .initial-container .initial-search .initial-title{
    display: flex;
    flex-direction: column;
  }
  .initial-container .initial-search .initial-title .title-text{
    color:#00CEF5;
    font-size: 3.75rem;
    font-family: 'robotoBold';
    letter-spacing: 0px;
    line-height: 4.3rem;
  }

  .initial-container .initial-search .initial-iso img{
    width: 90%;
    min-width: 350px;
    padding: 0 20px;
  }

  #firma-gerencia{
    position:absolute;
    right:100px;
    top:75px;
  }

  @media only screen and (max-width: 1000px) {
    #firma-gerencia{
      right:20px;
      top:20px;
    }
    .initial-container .initial-search .initial-iso{
        display: none;
    }
    .initial-container .initial-search .initial-title{
        width: 100%;
    }
    .initial-subcontainer{
        text-align: center;
    }
  }

/* INITIAL PAGE - END */

/* HOME PAGE - START */
  .home-ftth_container-color{
    background-color: #250859;
  }
  .home-hfc_container-color{
    background-color: #6A2FD3;
  }

  .home-container{
    background-size: cover;
    width: 100%;
    height: calc(100vh - 40px);
    display: flex;
    justify-content: center;
    align-items: center;
  }

/* HOME PAGE - END */


/* MENU - START */
  .main-menu{
    background-color: #040506;
    height:60px;
    display: flex;
    justify-content:space-between;
    align-items: center;    
    position: fixed;
    width: 100%;
    z-index: 1000;
    box-shadow: 0px 3px 6px #00000029;
  }

  .main-menu .links{
    display: flex;
    list-style:none;
    margin: 0;
    padding: 0;
  }

  .main-menu .links li{
    margin-right: 30px;
    color: white;
    cursor: pointer;
    font-family: "robotoLight";
  }

  .main-menu .links li:hover{
    color:#FCBF41;
  }

  .main-menu .links li a{
    text-decoration: none;
    color: white;
  }
  .main-menu .links li a:hover{
    color:#FCBF41;
  }
  .hamburger-container{
    display: none;
  }

  .brand-container{
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 33px;
    color: white;
    border-radius: 0 0 17px 0;
    font-family: "robotoBold";
    font-size: 1.125rem;  
  }

  .brand-container-mobile{
    display: none;
  }
  .last_update_db{
    padding: 0 20px;
    color: white;
    cursor: pointer;
    font-family: 'robotoRegular';
    font-size: 0.75rem;

  }
  #img-ultima_actualizacion{
    width: 15px;
    margin-right: 5px;
    margin-bottom: 3px;
  }

  
  @media only screen and (max-width: 1000px) {
    #text-ultima_actualizacion{
      display: none;
    }
    #img-ultima_actualizacion{
      width: 33px;
      margin: 0!important;
      padding: 0!important;
    }
  
  }
  @media only screen and (max-width: 768px) {
    .hamburger-container{
      display: initial;
      _background-color:#FCBF41;
      height: 59px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0 17px 0 0;
      border-radius: 17px 0 0 17px;
      cursor: pointer;
    }

    .brand-container{
      padding: 0 20px;
      font-size: 21px;
    }

    .main-menu .links{
      display: none;
    }

    #text-ultima_actualizacion{
      display: none;
    }
    .brand-container{
      display: none;
    }
    .brand-container-mobile{
      display: initial;
      height: 60px;
      display: flex;
      justify-content: center;
      align-items: center;
      _padding: 0 10px;
      color: white;
      border-radius: 0 0 17px 0;
      font-family: "robotoBold";
      font-size: 1.125rem; 
    }

    .last_update_db{
      display: none;
    }

    .main-menu {
      justify-content:space-around;
    }

  }
/* MENU - END */

/* HOME RESULT - START */

  .result-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1355px;
  }

  .result-container .left-container, .result-container .right-container{ 
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .result-container .left-container{
    _width: 30%;
    padding: 40px 60px 40px 0;
  }

  .result-container .left-container .illustration{
    width: 95%;
    min-width: 282.16px;
  }
  
  .result-container .left-container h2{
    color: #00CEF5;
    font-size: 2.813rem;
    font-family: 'bebasNeueRegular';
    letter-spacing: 0px;
    margin: 15px 0;
  }

  .result-container .right-container{
    width: 70%;
    padding: 30px;

  }

  .result-container .right-container .info-container{
    padding: 5px;
    border-radius: 14px;
    border: 2px solid #15C9F1;
    border-radius: 14px;
    display: flex;
  }

  .result-container .right-container .info-container .info-sub_container{
    background-color: #F0F0F0;
    padding: 30px 20px;
    border-radius: 14px;
    display: flex;
    flex-direction: column;
  }

  .result-container .right-container .info-container .title-container{
    border-bottom: 2px solid #15C9F1;
    color: #2B0382;
    font-family: 'robotoMedium';
    font-size: 1.313rem;
  }

  .result-container .right-container .info-container .data-container{
    display: flex;
    width: 100%;
    align-items: flex-start;
  }

  .result-container .right-container .info-container .data-container .left-container, .result-container .right-container .info-container .data-container .right-container{
    width: 50%;
    flex-direction: column;
    padding: 40px 40px 10px 40px;
  }

  .result-container .right-container .info-container .data-container .left-container .item-container, .result-container .right-container .info-container .data-container .right-container .item-container{
    display: flex;
    margin-bottom: 7px;
  }

  .result-container .right-container .info-container .data-container .left-container .item-container img, .result-container .right-container .info-container .data-container .right-container .item-container img{
    margin-right: 10px;
  }
  .result-container .right-container .info-container .data-container .left-container .item-container .item-title, .result-container .right-container .info-container .data-container .right-container .item-container .item-title{
    color:#2B0382;
    font-family: 'robotoMedium';
    font-size: 1.125rem;
    padding: 0;
    margin: 0;
  }

  .result-container .right-container .info-container .data-container .left-container .item-container .item-text, .result-container .right-container .info-container .data-container .right-container .item-container .item-text{
    color: #707070;
    font-family: 'robotoRegular';
    font-size: 1.125rem;
    padding: 0;
    margin: 0;
    width: 222px;
  }
  @media only screen and (max-width: 1200px) {

    .data-container{
      flex-direction: column;
    }
    .result-container .right-container .info-container .data-container .left-container, .result-container .right-container .info-container .data-container .right-container{
      padding: 0 20px;
    }
    .result-container .right-container .info-container .title-container{
      margin-bottom: 30px;
    }
    .result-container .right-container .info-container .data-container .left-container, .result-container .right-container .info-container .data-container .right-container{
      width: 100%;
    }
  }
  @media only screen and (max-width: 768px) {
    
    .result-container .left-container .illustration{
      display: none;
    }

    .result-container .right-container{
      padding: 0;
      width: 100%;
    }
    
    .result-container .left-container{
      padding: 0;
    }
    
    .result-container{
      flex-direction: column;
    }




    .result-container .left-container h2{
      margin-top: 20px;
    }
  }
  
  
/* HOME RESULT - END */