<style>
    footer{
        font-family: 'pulsoRegular';
        height:40px;
        width:100%;
        display: flex;
        justify-content:center;
        align-items:center;
        color: white;
        /* background: rgb(101,11,217);
        background: linear-gradient(90deg, rgba(101,11,217,1) 0%, rgba(80,7,174,1) 35%, rgba(58,3,130,1) 42%, rgba(50,2,113,1) 48%, rgba(50,2,113,1) 57%); */
        font-size: 1rem;

        background: rgb(101,11,217);
        background: radial-gradient(circle, rgba(101,11,217,1) 0%, rgba(80,7,174,1) 35%, rgba(58,3,130,1) 42%, rgba(50,2,113,1) 48%, rgba(50,2,113,1) 57%);
    }
</style>

<footer>
    telecom | personal | flow
</footer>