<style>
  .main-menu{
    background-color: #040506;
    height:60px;
    display: flex;
    justify-content:space-between;
    align-items: center;    
    position: fixed;
    width: 100%;
    z-index: 1000;
    box-shadow: 0px 3px 6px #00000029;
  }

  .main-menu .links{
    display: flex;
    list-style:none;
    margin: 0;
    padding: 0;
  }

  .main-menu .links li{
    margin-right: 30px;
    color: white;
    cursor: pointer;
    font-family: "robotoLight";
  }

  .main-menu .links li:hover{
    color:#FCBF41;
  }

  .main-menu .links li a{
    text-decoration: none;
    color: white;
  }
  .main-menu .links li a:hover{
    color:#FCBF41;
  }
  .hamburger-container{
    display: none;
  }

  .brand-container{
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 33px;
    color: white;
    border-radius: 0 0 17px 0;
    font-family: "robotoBold";
    font-size: 1.125rem;  
  }
  .last_update_db{
    padding: 0 20px;
    color: white;
    cursor: pointer;
    font-family: 'robotoRegular';
    font-size: 0.75rem;

  }



  @media only screen and (max-width: 768px) {
    .hamburger-container{
      display: initial;
      _background-color:#FCBF41;
      height: 59px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0 17px 0 0;
      border-radius: 17px 0 0 17px;
      cursor: pointer;
    }

    .brand-container{
      padding: 0 20px;
      font-size: 21px;
    }

    .main-menu .links{
      display: none;
    }

  }
</style>

<div class="main-menu">
  <a href="#" style="text-decoration: none; cursor: pointer">
    <div class="brand-container">
      APP CLIENTE - TECNOLOGÍA
    </div>
  </a>

  <div class="menu-search-container" ng-include = "'include/partials/home-search.html'"></div>

  <div class="last_update_db" data-bs-toggle="tooltip" data-bs-placement="left">
    <span data-tootik="Última Actualización: {{vm.last_update_db}}" data-tootik-conf="left invert shadow">
      <img src="img/icons/last_update-white.svg" alt="" width="15px" style="margin-right: 5px; margin-bottom: 3px">
      <span>ÚLTIMA ACTUALIZACIÓN</span>
    </span>
  </div>
  
</div>
