<div class="main-menu">
  
  <a href="#" ng-click="vm.inicializarVariables()" style="text-decoration: none; cursor: pointer">
    <div class="brand-container">
      <img src="img/icons/app-icon.svg" alt="" width="35px" style="margin-bottom: 13px; margin-right: 10px;">
      CLIENTE - TECNOLOGÍA
    </div>
    <div class="brand-container-mobile">
      <img src="img/icons/app-icon.svg" alt="APP CLIENTE - TECNOLOGÍA" width="35px" title="CLIENTE - TECNOLOGÍA">
    </div>
  </a>

  <div class="menu-search-container" ng-include = "'include/partials/search.html'"></div>

  <div class="last_update_db" data-bs-toggle="tooltip" data-bs-placement="left">
    <span data-tootik="Última Actualización: {{vm.last_update_db}}" data-tootik-conf="left invert shadow">
      <img id="img-ultima_actualizacion" src="img/icons/last_update-white.svg" alt="">
      <span id="text-ultima_actualizacion">ÚLTIMA ACTUALIZACIÓN</span>
    </span>
  </div>
  
</div>
