<div class="main-menu_initial">
  
  <a href="#" ng-click="vm.inicializarVariables()" style="text-decoration: none; cursor: pointer">
    <div class="brand-container">
      <img src="img/icons/app-icon.svg" alt="" width="35px" style="margin-bottom: 13px; margin-right: 10px;">
      CLIENTE - TECNOLOGÍA
    </div>
    <div class="brand-container-mobile">
      <img src="img/icons/app-icon.svg" alt="APP CLIENTE - TECNOLOGÍA" width="35px" title="CLIENTE - TECNOLOGÍA">
    </div>
  </a>

  <img src="img/icons/firma-gerencia.svg" alt="" width="180px">
  
</div>
