<div class="main-menu">
  
  <a href="#" ng-click="vm.inicializarVariables()" style="text-decoration: none; cursor: pointer">
    <div class="brand-container">
      APP CLIENTE - TECNOLOGÍA
    </div>
  </a>

  <div class="menu-search-container" ng-include = "'include/partials/search.html'"></div>

  <div class="last_update_db" data-bs-toggle="tooltip" data-bs-placement="left">
    <span data-tootik="Última Actualización: {{vm.last_update_db}}" data-tootik-conf="left invert shadow">
      <img src="img/icons/last_update-white.svg" alt="" width="15px" style="margin-right: 5px; margin-bottom: 3px">
      <span>ÚLTIMA ACTUALIZACIÓN</span>
    </span>
  </div>
  
</div>
